name: Update WakaTime Badge

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Fetch WakaTime data
        run: |
          mkdir -p badges
          curl -s "https://wakatime.com/api/v1/users/current/stats/all_time?api_key=${{ secrets.WAKATIME_API_KEY }}" > stats.json

      - name: Parse total time
        id: parse
        run: |
          TOTAL=$(jq -r '.data.grand_total.text' stats.json)
          echo "total=$TOTAL" >> $GITHUB_OUTPUT

      - name: Generate Badge
        run: |
          TOTAL="${{ steps.parse.outputs.total }}"
          ENCODED=$(python3 - <<EOF
import urllib.parse
print(urllib.parse.quote("$TOTAL"))
EOF
)
          echo "Encoded = $ENCODED"
          curl -s "https://img.shields.io/badge/Code%20Time-$ENCODED-blue" > badges/code-time.svg

      - name: Commit badge
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Update WakaTime badge"
          file_pattern: badges/code-time.svg
